@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
        background-image: linear-gradient(to right,#CBCFD1,#6A736F );
}

main {
    background-color: white;
    border-radius: 10px;    /* arredonda as quinas da folha */
    box-shadow: 5px 5px 10px #9da3a5ad;     /* cria sobra na borda do papel */
    width: 600px;
    padding: 10px;   /*usado para dá espaço (margem) a direita do texto */
    margin: auto;     /* centraliza o main em relação ao fundo */
}

h1 {
    color: #FFD639 ;
    text-align: center;
    box-shadow: 3px 3px 5px #9da3a5ad; /* cria sobra na borda do título h1 */
}

h2 {
    color: #003F63;
}

p {
    text-align: justify;
}